/* stylelint-disable max-line-length */
@font-face {
  font-family: 'Ford F1';
  font-style: normal;
  font-weight: 100 300;
  font-display: swap;
  src: url('../fonts/ford-light.woff2') format('woff2');
}

@font-face {
  font-family: 'Ford F1';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/ford-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Ford F1';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/ford-medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Ford F1';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/ford-semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'Ford F1';
  font-style: normal;
  font-weight: 700 900;
  font-display: swap;
  src: url('../fonts/ford-bold.woff2') format('woff2');
}

@font-face {
  font-family: "ford-f1-fallback";
  size-adjust: 99%;
  src: local('Arial');
}
